<% days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
           "Saturday"] %>
<table>
  <tr>
    <th><a href="javascript:setDate(-1, 0);">&lt;&lt;</a></th>
    <th><a href="javascript:setDate(0, -1);">&lt;</a></th>
    <th colspan="3" id="month">January 2013</th>
    <th><a href="javascript:setDate(0, 1);">&gt;</a></th>
    <th><a href="javascript:setDate(1, 0);">&gt;&gt;</a></th>
  </tr>
  <tr>
    <% for day in days %>
      <th><%= day %></th>
    <% end %>
  </tr>
  <% for i in 0..4 %>
    <tr>
    <% for j in 0..6 %>
      <td id="<%= "cell_#{i}_#{j}" %>">
        <%= i * 5 + j %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>

<script>
  // Note that month starts with January at 0 - so October is 9, not September.
  months = ["January", "Febuary", "March", "April", "May", "June", "July",
            "August", "September", "October", "November", "December"];

  function getNumberOfDaysInMonth(year, month)
  {
    return (new Date(year, month, 0)).getDate();
  }

  function getFirstDayOfMonth(year, month)
  {
    return (new Date(year, month, 1)).getDay();
  }

  function redrawCalendar(year, month)
  {
    $("#month").text(months[month] + " " + year);

    firstDay = getFirstDayOfMonth(year, month);
    numberOfDays = getNumberOfDaysInMonth(year, month);

    day = 1;

    for (var i = 0; i < 5; i++) {
      for (var j = 0; j < 7; j++) {
        if (((i * 5 + j) >= firstDay) && (day <= numberOfDays)) {
          $("#cell_" + i + "_" + j).text(day++);
        } else {
          $("#cell_" + i + "_" + j).text("");
        }
      }
    }
  }

  // setMonth() takes a number of years/months to go up or down
  // For now don't use values larger than +/- 1, I didn't have the time to do
  // the correct math. -js
  function setDate(yearsDelta, monthsDelta)
  {
    year += yearsDelta;
    month += monthsDelta;
    
    // Change the year if necessary
    if (month > 11) {
      year += 1;
      month = 0;
    } else if (month < 0) {
      year -= 1;
      month = 11;
    }

    redrawCalendar(year, month);
  }

  $(document).ready(function()
  {
    // Get the current date
    var date = new Date();

    // Month and year are attached to window so they persist (globals)
    window.month = date.getMonth();
    window.year = date.getFullYear();

    // Redraw the calendar so it matches the current date
    redrawCalendar(year, month);
  });
</script>
