<table>
  <tr>
    <th>&lt;&lt;</th>
    <th>&lt;</th>
    <th colspan="3">January</th>
    <th>&gt;</th>
    <th>&gt;&gt;</th>
  </tr>
  <% for i in 0..5 %>
    <tr>
    <% for j in 0..7 %>
      <td id="<%= "cell[#{i},#{j}]" %>">
        <%= i * 5 + j %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>

<script>
  function getNumberOfDaysInMonth(month, year)
  {
    return (new Date(year, month, 0)).getDate();
  }

  $(document).ready(function() {
    alert(getNumberOfDaysInMonth(10, 2013));
  });
</script>
