
<p id="para" class="lead"> 
    I chose to add the bootstrap rails sass gem.<br>
</p>

    <ul class="lead">
        <li>added gem</li>
        <li>imported bootstap in .css.scss file within assests</li>
        <li>setup application.html.erb with layout</li>
        <li>added bootstrap classes to home.html.erb</li>
    </ul>

<p class="lead">
    I have slightly different names for my projects.<br>
    The path is <strong>/home_work/project2</strong> instead of <strong>/pages/project2</strong><br>
</p>

